html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #ff4e59;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #ff4e59;
  color: white;
  padding: 50px;
  margin-bottom: 20px;
  font-size: 30px;
  text-transform: uppercase;
}

.App-body {
  background-color: #ff4e59;
  margin: auto;
    width: 100%;

}

.todolist {
  background-color: white;
  padding: 20px;
  width: 500px;
}

.todolist li {
  font-size: 18px;
  list-style-type: none;
  padding: 15px 0 15px 0;
  border-bottom: 1px solid #b7b7b7;
  text-align: left;
}

.todolist li button {
  color: #eeeeee;
  background-color: #ff4e59;
  border: none;
  margin-right: 6px;
}

.todo-controls {
  margin: 0 0 30px 0;
  position: relative;
}

.todo-controls .todo-input {
  padding: 14px;
  font-size: 18px;
  color: #666666;
  width: 500px;

}

.todo-controls .todo-button-group {
  position: absolute;
  right: 16px;
  top: 16px
}

.todo-controls button {
  cursor: pointer;
  background-color: transparent;
  color: #2121e4;
  border: none;
  font-size: 18px;
}

.todo-controls button.todo-clear-button {
  color:#ff4e59;
}

.layout {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
